
body {
    font-size: 12px;
    /* the comp
    background: url('/images/wireframe-comp.jpg') no-repeat top center; */
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-size: 24px;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

/* gets rid of annoying spaces between things */
section {
    font-size: 0;
}

/* the actual stuff */

nav {
    height: 98px;
    display: block;
    width: 100%;
    background: #444;
}


nav ul {
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding: left 10px;
}

nav li {
    display: inline-block;
    margin: 14px 80px 0 0;
}

nav li:first-child {
    margin-right: 30px;
}

nav li a {
    line-height: 66px;
    color: white;
    font-size: 18px;
}

main {
    width: 960px;
    margin: 30px auto;
}

#hero {}

#sub-banners {
    margin-top: 34px;
    display: flex;
}

#sub-banners img {
    margin-right: 30px;
}

#sub-banners img:last-child {
    margin-right: 0;
}

#featured {
    margin-top: 34px;
    display: flex;
}

#featured img {
    margin-right: 30px;
}

#featured h2 {
    font-size: 20px;
    line-height: 24px;
    /* margin-bottom:4px; */
}

#featured p {
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    letter-spacing: 0.1px;
    margin-top: 2px;
    overflow: auto;
    height: 320px;
}

button {
    font-size: 14px;
    margin-top: 11px;
    width: 174px;
    height: 42px;
    color: white;
    font-size: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    background: #000;
    transition: 350ms all;
}

button:hover {
    background: #ccc;
    color: #222;
}

footer {
    display:block;
    margin-top:30px;
    background:#555;
    min-height:134px;
}